@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 220, 197;
  --background-end-rgb: 214, 220, 197;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-raleway), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}