@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 220, 197;
  --background-end-rgb: 214, 220, 197;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #563380;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #452a66;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-raleway), sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}